{% extends "start.html" %}

{% block content %}
<section class="signup-section" id="signup">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5">
      <div class="col-md-10 col-lg-8 mx-auto text-center">
        <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }} <a href="{{ url_for('main.index') }}"></a>
        </div>
        <div style="max-width: 0; max-height: 0; overflow: hidden;">
          <input autofocus="true" />
        </div>
        {% endif %}
        {% endwith %}
        <div>
      </div>
    </div>
  </div>
</section>
{% endblock %}